<p>second works!</p>

<input type="text" name="" id="" value="{{name}}"/>

<input type="text" name="" id="" [value] = name/>

<input type="text" name="" id="" bind-value = name/>

<input type="text" disabled name="" id="">

<input type="text" disabled="false" name="" id="">
<input type="text" [disabled]="enable" name="" id="">

<input type="text" [disabled]="enable" name="" id="">

<br> 
Text Box will be hidden
<input type="text" [hidden]="!enable" name="" id="">
<br> 
My App Status is :  
<input type="text" name="" id="" [value]="Status?status1:status2"/> 








