<p>first works!</p>
<h1> heading </h1>
{{name}}
<br> 
Hello {{name}}
<br> <br>
{{ 6 * 7 }}


<br>
<br>

{{ "Welcome" + ' ' + name}}
<br> <br>
{{name.length}}
<br> 
{{name.toUpperCase()}}

{{GetName()}}
<br>
<br>
<font color="red">My App Status : {{Status? status1 :status2}}
</font>


<pre>
Operator : which acts upon operands
+ - * /

2 + 7 , Here 2 & 7 are operands
+ Operator
Depending upon no of operands, opeartors are 

1. Unary opeartor (which acts upon single operand)
-9      ++7
2. Binary opeartor (which acts upon 2 operand)
 8 * 9 , 9/2
3. Ternary opeartor (which acts upon three operand)
?:
condition? if its true : if its false
if else 

</pre>



